@model Movie

@{
    ViewData["Title"] = "Add new Movie";

}

<form asp-action="Create" asp-controller="Movies" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
       
    </div>
    <div class="form-group">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control" />
       
    </div>

    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control" />
    <button typeof="submit" class="btn btn-primary">Add</button>
    <a asp-action="List" asp-controller="Movies" class="btn btn-primary">Cancel</a>
</form>
